body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

i {
	color: white;
	padding: 7px;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto); 

}

.nav-bar {
    grid-area: 1/1/2/13;
	background-color: rgba(73, 82, 58, 0.5); 
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-items:center;
	align-items: center;
	position: sticky; 
    top: 0; 
    z-index: 5;



}

.tab {
    color: #ff9933;
    font-size: 20px;
}

 a {
	text-decoration: none;
}

a:hover {
	color: white;
}

.about-tab {
	grid-area: 1/11/2/12;

}

.tech-tab {
	grid-area: 1/10/2/11;
}

.products-tab {
	grid-area: 1/9/2/10;
}

.contact-tab {
	grid-area: 1/12/2/13;
}
.img-header {
	grid-area: 1/1/3/13;
	z-index: 2;
	background-image: url("baby-with-stethoscope.jpg");
	height: 85vh;
	background-size: 100% 100%;
	position: sticky; 
    top: 0; 

	
}

.about-section {
	grid-area: 3/1/7/13;
	z-index: 3;
    background-color: #FFFFF0; 
}

.about-lable {
	 grid-area: 4/6/5/8;
	 z-index: 4;
	 color: #2c8eb5;
	 justify-self: center;
	 align-self: center;
	 font-size: 30px;

}
.about-par {
	grid-area: 5/1/6/9;
	z-index: 4;
	font-size: 16px;
	padding: 30px;
}
.about-img {
	grid-area: 5/9/6/12;
	z-index:4;
	background-image: url("staff.jpg");
	padding: 30px;
	background-size: 100% 100%;
	border-radius: 8px;
}
.arrow-img {
	grid-area: 6/6/8/8;
	z-index: 4;
	background-image: url("dotted-arrow.png");
	background-repeat: no-repeat;

}

.product-section {
	grid-area: 7/1/11/13;
	z-index: 3;
	background-color: #D2DDBD;
	
}

.products-lable {
	 grid-area: 8/6/9/8;
	 z-index: 4;
	 color: #2c8eb5;
	 justify-self: center;
	 align-self: center;
	 font-size: 30px;
}

#product-img {

}

.product-img-1 {
	grid-area: 9/3/10/6;
	background-image: url("mockup.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
    
	

}
.product-img-2 {
	grid-area: 9/3/10/6;
	background-image: url("stetho-usb.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;

}
.product-img-3 {
	grid-area: 9/3/10/6;
	background-image: url("camera.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
	

}
.product-img-4 {
	grid-area: 9/3/10/6;
	background-image: url("thermometer.jpg");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
	

}
.product-descrip {
	grid-area: 9/7/10/10;
	z-index: 4;
	text-align: center;
}

#product-name {

	transition-property: background-image;
	transition-duration: 2s;
	transition-timing-function: linear;
}

#product-spec {
	transition: opacity .5s ease-in-out;
}

.tech-section {
	grid-area: 11/1/17/13;
	z-index: 3;
	background-color: #FFFFF0;
}

.technologies-lable {
	 grid-area: 12/6/13/8;
	 z-index: 4;
	 color: #2c8eb5;
	 justify-self: center;
	 align-self: center;
	 font-size: 30px;
}



#iot-lable {
	grid-area: 13/3/14/4;
	z-index: 4;
	align-self: center;
	justify-self: center;
	
}
#iot-img {
	grid-area: 14/3/15/4;
	background-image: url("smartphone.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

#iot-img:hover {
	transform: rotateY(180deg);
	z-index: 3;
}

#saas-lable {
	grid-area: 13/5/14/6;
	z-index: 4;
	align-self: center;
	justify-self: center;
}

#saas-img {
	grid-area: 14/5/15/6;
	background-image: url("saas.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
}

#voip-lable {
    grid-area: 13/7/14/8;
    z-index: 4;
    align-self: center;
	justify-self: center;
}

#voip-img {
	grid-area: 14/7/15/8;
	background-image: url("voip.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
}

#bigdata-lable {
    grid-area: 13/9/14/10;
    z-index: 4;
    align-self: center;
	justify-self: center;
}

#bigdata-img {
	grid-area: 14/9/15/10;
	background-image: url("big-data.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
}

.card-container{
	grid-area: 14/3/15/4;
	perspective: 700;
}

.footer-section {
	grid-area: 17/1/20/13;
	background-color: black;
	z-index: 3;
	color: white;
}
.social-lables {
	grid-area: 17/1/18/2;
	z-index: 4;
	align-self: center;
	justify-self:center;
	width: 200px;
}
.contact {
	grid-area: 18/1/19/2;
	z-index: 4;
	align-self: center;
	justify-self:center;
	width: 200px;
	color: white;
 }
