body {
	margin: 0;
	font-family: 'Thasadith', sans-serif;

}

i {
	color: white;
	padding: 7px;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows:100px; 

}

.nav-bar {
    grid-area: 1/1/2/13;
	background-color: rgba(73, 82, 58, 0.8); 
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-items:center;
	align-items: center;
	position: sticky; 
    top: 0; 
	z-index: 5;
	height: 5em;



}

.tab {
    color: #ff9933;
	font-size: 25px;

}

 a {
	text-decoration: none;
}

a:hover {
	color: white;
}

.about-tab {
	grid-area: 1/11/2/12;

}

.tech-tab {
	grid-area: 1/10/2/11;
}

.products-tab {
	grid-area: 1/9/2/10;
}

.contact-tab {
	grid-area: 1/12/2/13;

}

.company-label {
	grid-area: 1/1/2/2;
	font-family: 'Fredoka One', cursive;
	letter-spacing: 2px;
	
	

}

.tab-label {
    color: #ff9933;
	font-size: 35px;
	padding: 10px;


}
.img-header {
	grid-area: 1/1/7/13;
	z-index: 2;
	background-image: url("Healthy-baby-after-birth-730x450.jpg");
	height: 85vh;
	background-size: 100% 100%;
	

	
}
.div-on-header {
	grid-area: 1/1/8/7;
	background-image: linear-gradient( white, rgba(255, 255, 255, 0.6));
	z-index: 3; 
	transform-origin: left bottom;
	transform: skewX(30deg);
	
}
.header-first-title{
	grid-area: 2/1/4/4;
	color: rgba(73, 82, 58, 0.7); 
	z-index: 6;
	font-size: 50px;
	padding: 20px;
	
}

.about-section {
	 grid-area: 9/1/10/13;
	 z-index: 4;
	 background-color:#ff9933; 
	 font-size: 30px;
	

}
.about-lable {
	grid-area: 9/2/10/6;
	color:white;
	z-index: 5;
	align-self: center;
	font-size: 40px;
}
.about-par {
	grid-area: 11/2/19/7;
	z-index: 4;
	font-size: 22px;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.5); 
	box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
	border-radius: 8px;
	
}
.about-img {
	grid-area: 10/6/18/13;
	z-index:3;
	background-image: url("staff.jpg");
	padding: 30px;
	background-size: 100% 100%;
	border-radius: 8px;
}



	

.product-header{
	grid-area: 20/1/21/13;
	z-index: 4;
	background-color:#ff9933; 
	font-size: 30px;
}
.products-lable {
	grid-area: 20/2/21/6;
	color:white;
	z-index: 5;
	align-self: center;
	font-size: 40px;
}

.product-bubble{
	grid-area: 21/1/28/7;
	z-index: 3;
	background-color: rgb(210, 221, 189); 

}

.product-desc-bubble{
	grid-area: 21/7/28/13;
	z-index: 3;
	background-color: rgb(210, 221, 150); 
}
.product-img-1 {
	grid-area: 23/2/26/5;
	background-image: url("mockup.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	width: 30vw;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
    
	

}
.product-img-2 {
	grid-area: 23/2/26/5;
	background-image: url("stetho-usb.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	width: 30vw;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;

}
.product-img-3 {
	grid-area: 23/2/26/5;
	background-image: url("camera.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	width: 30vw;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
	

}
.product-img-4 {
	grid-area: 23/2/26/5;
	background-image: url("thermometer.jpg");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 40vh;
	width: 30vw;
	transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
	

}
.product-descrip {
	grid-area: 23/9/24/12;
	z-index: 4;
	text-align: center;
	font-size: 25px;
}

#product-name {

	transition-property: background-image;
	transition-duration: 2s;
	transition-timing-function: linear;
}

#product-spec {
	transition: opacity .5s ease-in-out;
}


.technologies-lable {
	 grid-area: 28/2/29/6;
	 color:white;
	 z-index: 5;
	 align-self: center;
	 font-size: 40px;

}
.tech-header{
	grid-area: 28/1/29/13;
	z-index: 4;
	background-color:#ff9933; 
	font-size: 30px;
}

#iot-lable {
	grid-area: 30/3/31/4;
	z-index: 4;
	align-self: center;
	justify-self: center;
	
}
#iot-img {
	grid-area: 31/3/32/4;
	background-image: url("smartphone.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

#iot-img:hover {
	transform: rotateY(180deg);
	z-index: 3;
}

#saas-lable {
	grid-area: 30/5/31/6;
	z-index: 4;
	align-self: center;
	justify-self: center;
}

#saas-img {
	grid-area: 31/5/32/6;
	background-image: url("saas.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
}

#voip-lable {
    grid-area: 30/7/31/8;
    z-index: 4;
    align-self: center;
	justify-self: center;
}

#voip-img {
	grid-area: 31/7/32/8;
	background-image: url("voip.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
}

#bigdata-lable {
    grid-area: 30/9/31/10;
    z-index: 4;
    align-self: center;
	justify-self: center;
}

#bigdata-img {
	grid-area: 31/9/32/10;
	background-image: url("big-data.png");
	z-index: 4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 5px 10px 10px #888888;
}



.footer-section {
	grid-area: 35/1/37/13;
	background-color: #363f54;
	z-index: 3;
	color: white;
}
.social-lables {
	grid-area: 35/2/36/3;
	z-index: 4;
	align-self: center;
	justify-self:center;
	width: 200px;
}
.contact {
	grid-area: 36/2/37/3;
	z-index: 4;
	align-self: center;
	justify-self:center;
	width: 200px;
	color: white;
 }
